/* Här definieras hur body i htmlsidan ska se ut..*/
body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to right, #f1b1b1 , #82e6e8);
    background-size: cover;
    background-position-x: center;
}

.flexcontainer__bck {
    display:  flex;
    flex-wrap: nowrap;
    font-size: 30px;
    text-align: left;
    
}

.flexcontainer {
    display:  flex;
    flex-wrap: wrap;
    font-size: 30px;
    height: 350px;
    width: 850px;
    margin: 8% auto;
    padding: 10px;
    text-align: center;
    
}

.secondDiv {
    height: 450px;
    width: 150px;
    margin: 8% auto;
    padding: 20px;
    text-align: center;
    position: relative;
    border-radius: 25px;
    border: 2px solid #73AD21;
    background-color: #f2f2f2;
}
.firstDiv {
    height: 450px;
    width: 450px;
    margin: 8% auto;
    padding: 20px;
    text-align: center;
    position: relative;
    border-radius: 25px;
    border: 2px solid #73AD21;
    background-color: #f2f2f2;
}

.myInputBox {
    width: 100%;
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    outline: none;
}
/* new block*/
* {
    box-sizing: border-box;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: left;
    flex-direction: column;
  }
  .flex-container_2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    text-align: left;
    height: 450px;
    width: 250px;
    flex-direction: column;
  }
  .flex-item-left {
    background-color: #f1f1f1;
    padding: 10px;
    flex: 50%;
  }
  
  .flex-item-right {
    background-color: dodgerblue;
    padding: 10px;
    flex: 50%;
  }
  /* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 800px) {
    .flex-item-right, .flex-item-left {
      flex: 100%;
    }
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
